Most likely KNN will outperforms other imputation technique as it is much more better imputation technique

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer, KNNImputer

from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]
df.sample(5)

      Age  Pclass     Fare  Survived
595  36.0       3  24.1500         0
785  25.0       3   7.2500         0
882  22.0       3  10.5167         0
346  40.0       2  13.0000         1
40   40.0       3   9.4750         0

In [7]:
#Age has missing values
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [8]:
X = df.drop(columns=['Survived'])
y = df['Survived']

X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [13]:
X_train.sample(2)

      Age  Pclass   Fare
720   6.0       2  33.00
106  21.0       3   7.65

In [14]:
X_test.sample(2)

      Age  Pclass  Fare
20   35.0       2  26.0
481   NaN       2   0.0

In [40]:
"""
weights = uniform weight or distance weight
n_neighbors = number of neighbors
"""

knn = KNNImputer(n_neighbors=5,weights='distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [41]:
pd.DataFrame(X_train_trf,columns=X_train.columns).isnull().sum()

Age       0
Pclass    0
Fare      0
dtype: int64

In [42]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_pred, y_test)

0.7094972067039106

comparison with SimpleImputer

In [45]:
si = SimpleImputer()
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [46]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_pred, y_test)

0.6927374301675978