In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('heart_data.csv')

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [4]:
df.rename(columns={'condition':'target'},inplace=True)

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [51]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:-1],df.iloc[:,-1],test_size=0.2,random_state=2)

In [52]:
#X_train

In [71]:
clf_dt = DecisionTreeClassifier()
clf_lr = LogisticRegression(max_iter=800)

In [72]:
clf_dt.fit(X_train,y_train)
clf_lr.fit(X_train,y_train)

LogisticRegression(max_iter=800)

In [22]:
y_pred_dt = clf_dt.predict(X_test)
y_pred_lr = clf_lr.predict(X_test)

In [23]:
from sklearn.metrics import confusion_matrix,accuracy_score
print("Accuracy of logistic regression is: ",accuracy_score(y_test,y_pred_lr))
print("Accuracy of decision tree is: ",accuracy_score(y_test,y_pred_dt))

Accuracy of logistic regression is:  0.85
Accuracy of decision tree is:  0.7333333333333333

In [30]:
confusion_matrix(y_test,y_pred_lr)

array([[27,  1],
       [ 8, 24]], dtype=int64)

In [31]:
confusion_matrix(y_test,y_pred_dt)

array([[21,  7],
       [ 9, 23]], dtype=int64)

In [36]:
from sklearn.metrics import recall_score,precision_score,f1_score
print("for logistic regression: ")
print("-"*50)
cdf = pd.DataFrame(confusion_matrix(y_test,y_pred_lr),columns=list(range(0,2)))
print(cdf)
print("-"*50)
print("precision is : ",precision_score(y_test,y_pred_lr))
print("recall is : ",recall_score(y_test,y_pred_lr))
print("f1 is: ",f1_score(y_test,y_pred_lr))

for logistic regression:
--------------------------------------------------
    0   1
0  27   1
1   8  24
--------------------------------------------------
precision is :  0.96
recall is :  0.75
f1 is:  0.8421052631578947

In [39]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_lr))

              precision    recall  f1-score   support

           0       0.77      0.96      0.86        28
           1       0.96      0.75      0.84        32

    accuracy                           0.85        60
   macro avg       0.87      0.86      0.85        60
weighted avg       0.87      0.85      0.85        60

In [45]:
print("for Decision Tree: ")
print("-"*50)
print(cdf)
print("-"*50)
print("precision is : ",precision_score(y_test,y_pred_dt))
print("recall is : ",recall_score(y_test,y_pred_dt))
print("f1 is: ",f1_score(y_test,y_pred_dt))
print("macro_avg: ",precision_score(y_test,y_pred_dt,average='macro'))
print("Weighted_avg: ",precision_score(y_test,y_pred_dt,average='weighted'))
print("macro_avg: ",recall_score(y_test,y_pred_dt,average='macro'))
print("Weighted_avg: ",recall_score(y_test,y_pred_dt,average='weighted'))

for Decision Tree:
--------------------------------------------------
    0   1
0  27   1
1   8  24
--------------------------------------------------
precision is :  0.7666666666666667
recall is :  0.71875
f1 is:  0.7419354838709677
macro_avg:  0.7333333333333334
Weighted_avg:  0.7355555555555555
macro_avg:  0.734375
Weighted_avg:  0.7333333333333333

In [46]:
print(classification_report(y_test,y_pred_dt))

#Support means the total number of one particular class in the actual dataset

              precision    recall  f1-score   support

           0       0.70      0.75      0.72        28
           1       0.77      0.72      0.74        32

    accuracy                           0.73        60
   macro avg       0.73      0.73      0.73        60
weighted avg       0.74      0.73      0.73        60