In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, MissingIndicator

In [3]:
df = pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])
df.sample(10)

     Survived   Age      Fare
528         0  39.0    7.9250
386         0   1.0   46.9000
511         0   NaN    8.0500
14          0  14.0    7.8542
808         0  39.0   13.0000
207         1  26.0   18.7875
481         0   NaN    0.0000
49          0  18.0   17.8000
31          1   NaN  146.5208
40          0  40.0    9.4750

Using SimpleImputer

In [4]:
X = df.drop(columns=['Survived'])
y = df['Survived']

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=2,test_size=0.2)

In [5]:
si = SimpleImputer()
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [6]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
clf.fit(X_train_trf,y_train)
y_pred = clf.predict(X_test_trf)

In [8]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.6145251396648045

Using MissingIndicator

In [17]:
mi = MissingIndicator()

X_train_missing= mi.fit_transform(X_train)
X_test_missing = mi.transform(X_test)

In [18]:
X_train['Age_NA'] = X_train_missing
X_test['Age_NA']  = X_test_missing

In [19]:
X_train

      Age      Fare  Age_NA
30   40.0   27.7208   False
10    4.0   16.7000   False
873  47.0    9.0000   False
182   9.0   31.3875   False
876  20.0    9.8458   False
..    ...       ...     ...
534  30.0    8.6625   False
584   NaN    8.7125    True
493  71.0   49.5042   False
527   NaN  221.7792    True
168   NaN   25.9250    True

[712 rows x 3 columns]

In [22]:
si = SimpleImputer()
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [23]:
clf2 = LogisticRegression()
clf2.fit(X_train_trf,y_train)
y_pred2 = clf2.predict(X_test_trf)

In [26]:
#Improvement while using MissingIndicator
accuracy_score(y_pred2,y_test)

0.6312849162011173

In sklearn SimpleImputer

In [31]:
#instead of using missing indicator explicitly just use add_indicator inside simpleimputerabs
si = SimpleImputer(add_indicator=True)