### Supplementary Information
#### Changing cells for different purposes.
We need to press Esc first, then type m to work with markup. It's the shortcut method. You can always choose Markdown from Jupyter notebooks toolbar. To get back to the coding cell again press y. To delete a cell, press Esc and then double press d.

#### In case if you are wondering what is Markdown? 
Markdown is a lightweight and popular Markup language which is a writing standard for data scientists and analysts.

### Numpy
NumPy is a Python library used for working with arrays. It stands for <b>Numerical Python.</b> Numpy creates an abstraction for us to work seemlessly. As a result we don't have to focus on the nitty gritty of how this works rather we can just focus more on the logical build up for our problems.<br><br> <b>Numpy</b> is so useful and powerful because it has only one data structure called ndarray(N-Dimensional Array)

### Properties of Numpy

1. Homogeneous - That means, you can't store values of different types in a single ndarray
2. Only use numbers but can hold strings too. Though we don't normally use numpy for this purpose.
3. Fixed Item size

In [1]:
#To include Numpy in our code, we need to write this statement where np used as an alias of the name numpy.
import numpy as np

### Creating Numpy Arrays

Method 1

In [2]:
#np.array() method
arr1 = np.array([1,2,3,4,5])
print(arr1)

[1 2 3 4 5]

In [3]:
#To find out the data type of this array we write
type(arr1)

numpy.ndarray

In [4]:
arr2 = np.array([[1,2,3],[3,4,5]])
print(arr2)

[[1 2 3]
 [3 4 5]]

In [5]:
#Dimension of an array can be found using ndim attribute.
arr2.ndim

2

#### Useful Info - Use Shift + Tab inside the function parenthesis to see its arguments if needed.

Method 2

In [6]:
#Create a matrix of size 4x3 with only zeros in it
arr3 = np.zeros((4,3))
#arr3 = np.zeros((4,3)).astype('i')
print(arr3)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [7]:
arr4 = np.ones((2,3))
arr4

array([[1., 1., 1.],
       [1., 1., 1.]])

In [8]:
#Identity matrix has ones(1) in the main diagonal and zeros(0) in elsewhere
arr5 = np.identity(5)
print(arr5)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [9]:
#arange method generates an array for a given range
#arr6 = np.arange(3,10)
arr6 = np.arange(3,10,2,dtype = 'f')   #(start,stop,step_size)
print(arr6.size)
print(arr6)

4
[3. 5. 7. 9.]

In [10]:
#linspace returns evenly spaced numbers over a specified interval.ie. distance between 2 adjacent numbers are always same.
arr7 = np.linspace(10,25,8)  #(start, end, no.of numbers)
arr7

array([10.        , 12.14285714, 14.28571429, 16.42857143, 18.57142857,
       20.71428571, 22.85714286, 25.        ])

### Numpy copy() and view() method

In Numpy <b>copy()</b> method, one can copy the values of one array to another array. Important property of copy() method 
is that the base of the copied array is None. That means if you change the value of an element in the new copied array 
the base array values will not be changed. <br><br>But in <b>view()</b> method the base remains the same for both the arrays. And any changes in any of those arrays will result in changes in both the arrays.

In [11]:
arr8 = arr7.copy()
arr8

array([10.        , 12.14285714, 14.28571429, 16.42857143, 18.57142857,
       20.71428571, 22.85714286, 25.        ])

In [12]:
#NumPy array has the attribute base that returns None if the array owns the data.

print(arr7.base)  #arr7's base is arr7
print(arr8.base)  #But arr8's base is None, as this array is created using copy()

[10.         12.14285714 14.28571429 16.42857143 18.57142857 20.71428571
 22.85714286 25.        ]
None

In [13]:
arr9 = arr7.view()
arr9[4] = 100
arr9

array([ 10.        ,  12.14285714,  14.28571429,  16.42857143,
       100.        ,  20.71428571,  22.85714286,  25.        ])

In [14]:
print(arr9)
print(arr9.base)
print(arr8.base)

[ 10.          12.14285714  14.28571429  16.42857143 100.
  20.71428571  22.85714286  25.        ]
[ 10.          12.14285714  14.28571429  16.42857143 100.
  20.71428571  22.85714286  25.        ]
None

### Numpy Attributes

Any variable that is bound in a class is a class attribute . Any function defined within a class is a method.

Attributes doesn't use parenthesis() at the end because it's a member variable of the class. We only use () when we are working with classes member functions.

In [15]:
#shape - gives the shape of the array. For example (2,3) for 2-D array.
print(arr1)
print(arr1.shape)
#ndim  - gives the no. of dimensions in an array. For example 3 for 3-D array
print(arr1.ndim)
#size - gives the no. of elements in an array
print(arr1.size)
#item_size - gives the size of the datatype
print(arr1.itemsize)
#dtype - gives the name of the data type
print(arr1.dtype)

[1 2 3 4 5]
(5,)
1
5
4
int32

#### We use astype() method to convert one datatype to another.

Suppose we have a huge dataset with some columns with floating type values but imagine for some of the columns this proved to be unnecessary somehow. So, in that case, we can use <b>astype()</b> to make those data as interger values. This will save us a lot of storage and the data will process much faster.

In [16]:
arr10 = np.arange(36).reshape(2,3,6).astype('float64')
print(arr10)
print(arr10.shape)
print(arr10.ndim)
print(arr10.size)
print(arr10.itemsize)
print(arr10.dtype)

[[[ 0.  1.  2.  3.  4.  5.]
  [ 6.  7.  8.  9. 10. 11.]
  [12. 13. 14. 15. 16. 17.]]

 [[18. 19. 20. 21. 22. 23.]
  [24. 25. 26. 27. 28. 29.]
  [30. 31. 32. 33. 34. 35.]]]
(2, 3, 6)
3
36
8
float64

### Python Lists vs Numpy Arrays

Numpy Arrays are
1. Faster
2. Convenient
3. Less Memory

In [17]:
# Python does not unpack the result of the range() function.So, we use argument-unpacking operator i.e. *
list_a = [*range(10)]
arr_a = np.arange(10)
print(list_a)
print(arr_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0 1 2 3 4 5 6 7 8 9]

In [18]:
#Example of less Memory.
#We will calculate the amount of storage list and array are taking individually.

import sys
#Below we multiplied the size of an element with total no. of elements in a list.
print(f'list_a occupies {sys.getsizeof(12) * len(list_a)} bytes')

print(f'arr_a occupies {arr_a.itemsize * arr_a.size} bytes')

#So, given same no. of items, numpy array occupies less amount of memory than python list.

list_a occupies 280 bytes
arr_a occupies 40 bytes

In [19]:
#Example of Faster
#In this cell, we will calculate the amount of time it takes to process a sample list's data
import time
x = range(100000000)
y = range(100000000,200000000)

#time() - gives the current time.

start_time = time.time()
z = [(i+j) for i,j in zip(x,y)]
timetaken = (time.time() - start_time)  #Gives you the duration of execution.
print(timetaken)

7.930303573608398

In [20]:
#In this cell, we will calculate the amount of time it takes to process a sample numpy array's data
xa = np.arange(100000000)
ya = np.arange(100000000,200000000)
start_time = time.time()
za = xa+ya
print(time.time() - start_time)

#So, Numpy array takes less amount of time to execute a process than the list. In real world problems,
#we need to perform tons of process. So, it is better to use numpy array than list in those problems.

0.11369633674621582

In [21]:
#First line is a bit complex than the second one. Thus we can prove that Numpy array is more convenient.
#z = [(i+j) for i,j in zip(x,y)]
#za = xa+ya

### Indexing, Slicing and Iteration

<b>Indexing</b> - Indexing is a way to refer the individual items within an <b>iterable</b> (Lists, arrays, strings etc.) by its position. 

<b>Iterable</b> - Iterable is an object which can be iterated over with the help of a loop. Objects like lists, tuples, sets, dictionaries, strings, etc. are called iterables.

<b>Slicing</b> - Slicing refers to accessing a specific portion or a subset of the data for some operation while the orginal list remains unaffected.

In [22]:
ar1 = np.arange(36).reshape(6,6)
ar1

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [23]:
print(ar1[2])    #indexing
print(ar1[2:4])  #slicing
print(ar1[-1])   #gives the last row

[12 13 14 15 16 17]
[[12 13 14 15 16 17]
 [18 19 20 21 22 23]]
[30 31 32 33 34 35]

In [24]:
print(ar1[:,4])  #It will give us the values of the 5th column
print(ar1[:,3:5])
print(ar1[3:5,2:4])

[ 4 10 16 22 28 34]
[[ 3  4]
 [ 9 10]
 [15 16]
 [21 22]
 [27 28]
 [33 34]]
[[20 21]
 [26 27]]

In [25]:
ar1[-1]

array([30, 31, 32, 33, 34, 35])

In [26]:
print(arr1)
print(arr1[3])     #Indexing
print(arr1[1:4])   #Slicing

[1 2 3 4 5]
4
[2 3 4]

In [27]:
#example of Iteration
#for i in ar1:
#    for j in i:
#        print(j)
        
#the above code can be written simply using nditer() method
for i in np.nditer(ar1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

## Numpy operations

<b>Fun Fact: </b> There are tons of functions to choose from. But honestly we can't remember all of these. Just remember Google is our friend.

In [28]:
array1 = np.arange(2,8)
array2 = np.arange(4,10)
array1 - array2

array([-2, -2, -2, -2, -2, -2])

In [29]:
array1 * array2       #Vector Multiplication

array([ 8, 15, 24, 35, 48, 63])

In [30]:
array1 * 2            #Scaler Multiplication.

array([ 4,  6,  8, 10, 12, 14])

In [31]:
print(array1 ** 2)    #2 to the power

[ 4  9 16 25 36 49]

In [32]:
array1 > 3

array([False, False,  True,  True,  True,  True])

#### Array dot product

In [33]:
array1.dot(array2)

193

In [34]:
#multiplication possible when nxm *  mxa = nxa
array3 = np.arange(12).reshape(3,4)
array4 = np.arange(16).reshape(4,4)

In [35]:
result = array3.dot(array4)
print(result)

[[ 56  62  68  74]
 [152 174 196 218]
 [248 286 324 362]]

#### Some useful functions

In [36]:
array3.max()

11

In [37]:
result.min()   #this function is defined inside the class.

56

In [38]:
result.min(axis = 0)   #axis = 0 means columnwise operation

array([56, 62, 68, 74])

In [39]:
result.max(axis = 1)    #axis = 1 means rowwise operation.

array([ 74, 218, 362])

In [40]:
result.sum()

2220

In [41]:
result.sum(axis = 1)  #returns the sum of all the elements in every rows

array([ 260,  740, 1220])

In [42]:
result.mean()

185.0

In [43]:
result.std()

102.07023725520253

In [44]:
np.median(result)    #static function. That is the function is defined outside of the class

185.0

In [45]:
np.sin(array4)    #static function or Universal function.

array([[ 0.        ,  0.84147098,  0.90929743,  0.14112001],
       [-0.7568025 , -0.95892427, -0.2794155 ,  0.6569866 ],
       [ 0.98935825,  0.41211849, -0.54402111, -0.99999021],
       [-0.53657292,  0.42016704,  0.99060736,  0.65028784]])

In [46]:
np.exp(result)

array([[2.09165950e+024, 8.43835667e+026, 3.40427605e+029,
        1.37338298e+032],
       [1.02981983e+066, 3.69181433e+075, 1.32348326e+085,
        4.74457215e+094],
       [5.07027496e+107, 1.61518333e+124, 5.14531700e+140,
        1.63908867e+157]])

In [47]:
np.log(result)

array([[4.02535169, 4.12713439, 4.21950771, 4.30406509],
       [5.02388052, 5.1590553 , 5.27811466, 5.38449506],
       [5.51342875, 5.65599181, 5.78074352, 5.89164421]])

In [48]:
np.log(result).astype('i')

array([[4, 4, 4, 4],
       [5, 5, 5, 5],
       [5, 5, 5, 5]], dtype=int32)

## Reshaping Numpy Arrays

<b>Ravel<br>Reshape</b>

In [49]:
array4

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [50]:
#array4.ravel()   #ravel() method will collapse the n-d array to 1-d array
array4.reshape(-1)   #This also flattens the n-d array to 1-d array.

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [51]:
array3

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [52]:
array3.transpose()  #The transpose of a matrix is found by interchanging its rows into columns or columns into rows.

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

<b>Transpose</b><br>[Transpose of 3-D array](https://www.youtube.com/watch?v=ydosxH65pdA)

In [53]:
array3d = np.arange(36).reshape(2,3,6)
array3d

array([[[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11],
        [12, 13, 14, 15, 16, 17]],

       [[18, 19, 20, 21, 22, 23],
        [24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]]])

In [54]:
array3d.transpose(2,0,1)  #will produce 3-d array with (6,2,3) dimensions.

array([[[ 0,  6, 12],
        [18, 24, 30]],

       [[ 1,  7, 13],
        [19, 25, 31]],

       [[ 2,  8, 14],
        [20, 26, 32]],

       [[ 3,  9, 15],
        [21, 27, 33]],

       [[ 4, 10, 16],
        [22, 28, 34]],

       [[ 5, 11, 17],
        [23, 29, 35]]])

#### Stacking

In [55]:
array5 = np.arange(16,28).reshape(3,4)
array3

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [56]:
array5

array([[16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27]])

In [57]:
np.hstack((array5,array3))    #this method needs a tuple

array([[16, 17, 18, 19,  0,  1,  2,  3],
       [20, 21, 22, 23,  4,  5,  6,  7],
       [24, 25, 26, 27,  8,  9, 10, 11]])

In [58]:
np.vstack((array3,array5))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27]])

#### Splitting

In [59]:
np.hsplit(array3,2)                   #The method is counter intuitive. Just think columns are splitted horizontally.

[array([[0, 1],
        [4, 5],
        [8, 9]]),
 array([[ 2,  3],
        [ 6,  7],
        [10, 11]])]

In [60]:
np.vsplit(array5,3)           #this too is counterintuitive, just think rows are splitted vertically.

[array([[16, 17, 18, 19]]),
 array([[20, 21, 22, 23]]),
 array([[24, 25, 26, 27]])]

## Fancy Indexing

In [61]:
fancy_array = np.arange(24,48).reshape(6,4)

In [62]:
fancy_array

array([[24, 25, 26, 27],
       [28, 29, 30, 31],
       [32, 33, 34, 35],
       [36, 37, 38, 39],
       [40, 41, 42, 43],
       [44, 45, 46, 47]])

In [63]:
#suppose we need first, third and fifth row to form a new matrix
#fancy_array[0:6:2,:]      #we can use this

#Or use the fancy method
fl = [0,2,4]
fancy_array[fl]            #passing a list of the rows.
#fancy_array[:,[0,1]]      #works for columns as well.

array([[24, 25, 26, 27],
       [32, 33, 34, 35],
       [40, 41, 42, 43]])

## Working with Random values in NumPy

In [65]:
np.random.random()

0.5534257591671142

## Indexing Using Boolean Arrays